* {
	box-sizing: border-box;	
}

html {
	font-size: 10px;
	font-family: verdana, sans-serif;
}

body {
    background-color: #4D7ABE;
    margin: 0;
}

header {
    background-color: #E06363;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
}
header h1 {
    font-size: 2.5rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: black;
    margin: 40px;
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 50px;
    padding-right: 50px;
    position: sticky;
    top: 100px;
}

.card {
    background-color: #53A5C9;
    min-width: 100px;
    max-width: 100px;
    margin: 20px;
}

.card-stat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: orange;
    font-size: 1.2rem;
    color: black;
    border: red solid 1px;
}

.card-heading {
    font-size: 1.8rem;
}

.card-stat {
    max-width: 150px;
    border: solid black 1px;
}

@media screen and (min-width:600px) {
    .circle {
        width: 500px;
        height: 500px;
        margin: 40px;
        padding-top: 200px;
        padding-bottom: 200px;
        padding-left: 50px;
        padding-right: 50px;
        position: sticky;
        top: 100px;
    }

    .card {
        background-color: #53A5C9;
        min-width: 350px;
        max-width: 350px;
        margin: 20px;
    }

    .card-heading {
        font-size: 2rem;
    }

    .card-stat {
        max-width: 250px;
    }
}